<div class="latest-project-item" id="{{id}}">
    <img alt="project image" class="latest-project-image" src="{{projectSrc}}" />

    <div class="project-item-title-text">{{title}}</div>
    <div class="project-item-description-text">{{description}}</div>

    <div class="project-item-footer">
        {{#if canShowPlatforms}}
        <div class="project-footer-title">Available Platforms</div>
        <div class="project-footer-platform">
            {{#platforms}}
            {{#if link !== '#'}}
            <a href="{{link}}" target="_blank">
                <img
                        alt="{{altText}}"
                        class="footer-platform-image"
                        src="{{platformSrc}}"
                />
            </a>
            {{/if}}
            {{/platforms}}
        </div>
        {{#else}}
        <span class="project-footer-title">Coming Soon</span>
        {{/if}}
    </div>
</div>

