<nav class="web-nav">
    <input class="nav-hide-box" id="side-menu-active" type="checkbox">
    <label for="side-menu-active" id="web-nav-overlay"></label>
    <ul class="side-menu">
        <li class="side-menu-icon">
            <label for="side-menu-active">
                <div class="side-menu-icon-link">
                    <svg fill="#FFFFFF" height="26px"
                         viewBox="0 -960 960 960" width="26px" xmlns="http://www.w3.org/2000/svg">
                        <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                    </svg>
                </div>
            </label>
        <li class="side-menu-nav"><a class="side-menu-link nav-text" href="/offers.html">Offers
            <svg fill="#FFFFFF" height="32px"
                 viewBox="0 -960 960 960" width="32px" xmlns="http://www.w3.org/2000/svg">
                <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
            </svg>
        </a></li>
        <li class="side-menu-nav"><a class="side-menu-link nav-text" href="#">Why Us
            <svg fill="#FFFFFF" height="32px"
                 viewBox="0 -960 960 960" width="32px" xmlns="http://www.w3.org/2000/svg">
                <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
            </svg>
        </a></li>
        <li class="side-menu-nav"><a class="side-menu-link nav-text"
                                     href="/royalties.html">Royalties
            <svg fill="#FFFFFF" height="32px"
                 viewBox="0 -960 960 960" width="32px" xmlns="http://www.w3.org/2000/svg">
                <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
            </svg>
        </a></li>
        <li class="side-menu-nav side-menu-started"><a class="side-menu-link nav-text" href="#">Get
            Started</a></li>
    </ul>

    <ul class="web-menu">
        <li class="web-menu-nav web-menu-title"><a class="web-menu-title-link"
                                                   href="index.html">YDA</a></li>
        <li class="web-menu-nav web-menu-icon"><label for="side-menu-active">
            <svg fill="none" height="26px" viewBox="0 0 24 24" width="26px"
                 xmlns="http://www.w3.org/2000/svg">

                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                <g id="SVGRepo_iconCarrier">
                    <path clip-rule="evenodd" d="M4 5C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H4ZM7 12C7 11.4477 7.44772 11 8 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H8C7.44772 13 7 12.5523 7 12ZM13 18C13 17.4477 13.4477 17 14 17H20C20.5523 17 21 17.4477 21 18C21 18.5523 20.5523 19 20 19H14C13.4477 19 13 18.5523 13 18Z"
                          fill="#ffffff"
                          fill-rule="evenodd"/>
                </g>

            </svg>
        </label>
        </li>
        <li class="web-menu-nav web-menu-hidden"><a class="web-menu-link nav-text"
                                                    href="/offers.html">Offers</a></li>
        <li class="web-menu-nav web-menu-hidden"><a class="web-menu-link nav-text" href="#">Why
            Us</a></li>
        <li class="web-menu-nav web-menu-hidden"><a class="web-menu-link nav-text"
                                                    href="/royalties.html">Royalties</a></li>
        <li class="web-menu-nav web-menu-get-started web-menu-hidden"><a class="web-menu-link nav-text"
                                                                         href="#">Get
            Started</a></li>
        <li class="web-menu-nav web-menu-spacer web-menu-hidden"></li>
    </ul>

</nav>