<h3 class="pricing-title">{{title}}</h3>
<h5 class="pricing-description">{{description}}</h5>
<button class="pricing-button">{{buttonText}}</button>
<div class="pricing-price-container">
    <h2 class="pricing-price">{{price}}</h2>
    <h6 class="pricing-period">{{period}}</h6>
</div>
<div class="pricing-divider"></div>
<h5 class="pricing-inclusion-title">{{inclusionTitle}}</h5>
<div class="pricing-inclusion-container">
    {{#inclusions}}
    <div class="pricing-inclusion-item">
        <svg
                fill="none"
                height="13"
                viewBox="0 0 17 13"
                width="17"
                xmlns="http://www.w3.org/2000/svg"
        >
            <path
                    d="M5.7 12.025L0 6.325L1.425 4.9L5.7 9.175L14.875 0L16.3 1.425L5.7 12.025Z"
                    fill="white"
            />
        </svg>
        {{.}}
    </div>
    {{/inclusions}}
</div>

<div class="royalties-popular">
    <h3 class="pricing-title">{{title}}</h3>
    <h5 class="pricing-description">{{description}}</h5>
    <button class="pricing-button">{{buttonText}}</button>
    <div class="pricing-price-container">
        <h2 class="pricing-price">{{price}}</h2>
        <h6 class="pricing-period">{{period}}</h6>
    </div>
    <div class="pricing-divider"></div>
    <h5 class="pricing-inclusion-title">{{inclusionTitle}}</h5>
    <div class="pricing-inclusion-container">
        {{#inclusions}}
        <div class="pricing-inclusion-item">
            <svg
                    fill="none"
                    height="13"
                    viewBox="0 0 17 13"
                    width="17"
                    xmlns="http://www.w3.org/2000/svg"
            >
                <path
                        d="M5.7 12.025L0 6.325L1.425 4.9L5.7 9.175L14.875 0L16.3 1.425L5.7 12.025Z"
                        fill="white"
                />
            </svg>
            {{.}}
        </div>
        {{/inclusions}}
    </div>
</div>