<footer class="web-footer">

    <div class="web-footer-divider"></div>

    <div class="web-footer-container">


        <div class="web-footer-left">

            <div class="web-footer-external">
                <div class="web-footer-web-title"><a class="web-menu-title-link" href="#">YDA</a>
                </div>
            </div>

            <div class="web-footer-socials">

                <a href="#">
                    <svg aria-hidden="true" class="css-jaq9k5" fill="none" height="16px"
                         viewBox="0 0 16 16" width="16px" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.47 6.77 15.3 0h-1.4L8.85 5.88 4.81 0H.15l6.11 8.9L.15 16h1.38l5.35-6.21L11.14 16h4.67zm-1.9 2.2-.61-.88-4.93-7.05h2.12l3.98 5.69.62.88 5.17 7.4h-2.13L7.58 8.97z"
                              fill="#FFFFFF"></path>
                    </svg>
                </a>
                <a href="#">
                    <svg aria-hidden="true" class="css-jaq9k5" height="16px"
                         viewBox="0 0 449 449" width="16px" xmlns="http://www.w3.org/2000/svg">
                        <path d="M224.18 109.6c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9 114.9-51.3 114.9-114.9-51.3-114.9-114.9-114.9m0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7m146.4-194.3c0 14.9-12 26.8-26.8 26.8a26.8 26.8 0 1 1 26.8-26.8m76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8m-47.8 224.5a75.63 75.63 0 0 1-42.6 42.6c-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9a75.63 75.63 0 0 1-42.6-42.6c-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1a75.63 75.63 0 0 1 42.6-42.6c29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9a75.63 75.63 0 0 1 42.6 42.6c11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1"
                              fill="#FFFFFF"></path>
                    </svg>
                </a>
                <a href="#">
                    <svg aria-hidden="true" class="css-jaq9k5" fill="none" height="14px"
                         viewBox="0 0 16 14" width="16px" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#a)">
                            <path d="M15.6 2.5c.4 1.4.4 4.4.4 4.4s0 3-.4 4.4c-.2.8-.8 1.4-1.5 1.6-1.4.4-6.1.4-6.1.4s-4.7 0-6-.4c-.8-.2-1.4-.8-1.6-1.6C0 9.9 0 6.9 0 6.9s0-3 .4-4.4c.2-.8.8-1.4 1.5-1.6C3.3.5 8 .5 8 .5s4.7 0 6 .4c.8.2 1.4.8 1.6 1.6M6.4 9.7l4.8-2.8-4.8-2.8z"
                                  fill="#FFFFFF"></path>
                        </g>
                        <defs>
                            <clipPath id="a">
                                <path d="M0 .5h16v13H0z" fill="currentColor"></path>
                            </clipPath>
                        </defs>
                    </svg>
                </a>

            </div>


        </div>


        <div class="web-footer-right"></div>


    </div>

    <div class="web-footer-divider bottom-gap"></div>

    <div class="web-footer-stamp">
        <div class="web-footer-copy-right">&#169; YourDevAji</div>
    </div>
</footer>
