.search-overlay{
    background-color: #2a2a2a;
    height: 100px;
    display: flex;
    margin-bottom: 100px;
    position: relative;
    justify-content: center;

}

.web-intro-centered{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.web-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.web-intro-action{
    color: white;
    margin-top: 20px;
    display: flex;
    justify-items: center;
}

.web-action-button{
    margin-left: 8px;
    margin-right: 8px;
}

.code-view-outer-screen{
    height: 90vh;
    width: 80%;
    margin-top: 40px;
    border-radius: 20px;
    border: 2px solid #2d2d2d;
    padding: 16px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.code-view-control{
    height: 50px
    display: flex;
    gap: 8px;

}


.code-view-control span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.close-circle {
    background-color: #ff5f57;
}

.minimize-circle {
    background-color: #ffbd2e;
}

.expand-circle {
    background-color: #28c93f;
}

.code-view-inner-screen{
    width: 100%;
    margin-top: 16px;
    flex-grow: 1;
    display: flex;
    background-color: #2d2d2d;
    overflow: hidden;
    border-radius: 20px;
}

.code-view-header{
    display: flex;
    align-items: center;
}

.code-view-file-name-logo{
    color: white;
    margin-left: 12px;
    background-color: #606005;
    padding: 4px;
    font-size: 12px;
    border-radius: 3px;
}

.code-view-file-name-text{
    color: white;
    margin-left: 8px;
}

.code-view-configure{
    flex-grow: 1;
    color: white;
    display: flex;
    font-size: 13px;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
}

.code-configure-play{
    margin-left: 24px;
}
.code-file-view{
    flex: 1;
    display: flex;
    background-color: #3c3f41;
}

.code-editor-view{
    flex: 3;
}

.code-editor-title{
    color: white;
    display: inline-block;
    width: auto;
    align-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 12px;
    border-bottom: 2px solid #5757a8;
}

.code-editor-title-divider{
    margin-top: -1px;
    border-bottom: 0.5px solid #dfdfdf;
}

.code-file-select{
    background-color: #575859;
    padding: 4px;
    border-radius: 4px;
}

.code-file-view-panel{
    flex:1.5;
    border-right: 1px solid black;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
}


.code-file-view-dir{
    flex:9;
    flex-direction: column;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
}


.code-file-path{
    background-color: #575859;
    padding-left: 8px;
    color: white;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
}

.code-file-sub-path{
    color: white;
    margin-top: 10px;
    display: flex;
    margin-left: 8px;
    align-content: center;
    font-size: 12px;
}

.code-file-dir-title{
    flex: 1;
    color: white;
    align-content: center;
}

.code-file-dir-body{
    flex: 13;
}

.code-instruction{
    width: 100%;
}


pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: white;
    margin-left: -36px;
    margin-top: 36px;
}

.code-keyword {
    color: #c586c0;
}

.code-type {
    color: #4ec9b0;
}

.code-function, .code-function-name {
    color: #dcdcaa;
}

.code-key {
    color: #9cdcfe;
}

.code-string {
    color: #ce9178;
}

.code-number {
    color: #b5cea8;
}


.latest-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latest-project-description{
    color: white;
    margin-top: 20px;
    text-align: center;
}

.latest-project-container{
    background-color: #222121;
    width: 100%;
    margin-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5vw;
    padding-bottom: 2.5vw;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.latest-project-list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-between;
    box-sizing: border-box;
}

.latest-project-item{
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 250px;
    min-width: 200px;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #131313;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.latest-project-image{
    border-radius: 12px;
}

.project-item-top{
    width: 100%;
    flex: 3;
    background-image: url("../images/web-mobile-app.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project-item-middle{
    width: 100%;
    flex:2;

    background-color: #080809;
}

.project-item-bottom{
    width: 100%;
    /*    height: 100px;*/
    flex: 1;
    background-color: green;
}

.project-item-title-text{
    color: white;
    margin-top: 30px;
    font-size: 16px;
}

.project-item-description-text{
    color: #9e9e9e;
    margin-top: 10px;
    font-size: 14px;
}

.project-item-footer{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
}

.project-footer-title{
    color: white;
    font-size: 12px;
    margin-bottom: 10px;
}

.project-footer-platform{
    gap: 10px;
    display: flex;
}
.footer-platform-image{
    border-radius: 8px;
}

.latest-project-get-started{

    margin-top: 2.5vw;
    background-color: #131313;
    padding: 16px 24px 16px 24px;
    height: auto;
    border-radius: 20px;
}

.latest-project-get-started{
    color: white;
    text-decoration: none;
}



.web-intro-2{
    display: flex;
    /*    background-color: red;*/
    width: 100%;
    height: 500px;
    margin-top: 100px;
}

.web-intro-2-left{
    flex: 1;
    padding-left: 10%;
    padding-top: 10%;
    box-sizing: border-box;
    justify-content: center;

}

.web-intro-2-right{
    flex: 1.5;
    display:flex;
}

.web-intro-2-text{
    color: #787676;
    font-size: 12px;
}

.web-intro-2-name{
    color: white;
    font-size: 42px;
    font-weight: bolder;
    margin-top: 30px;
}

.web-intro-2-work{
    color: white;
    font-size: 16px;
    margin-top: 20px;
}

.web-intro-2-left-container{
    width: 65%;
    display: flex;
    flex-direction: column;
    display: inline-flex;

}

.web-intro-2-click{
    position: relative;
    margin-top: 30px;
}

.web-intro-2-get-started{
    color: white;
    margin-top: 0px;
    position: absolute;
    text-decoration: none;
    background-color: #131313;
    padding: 16px 24px 16px 24px;
    height: auto;
    display: inline;
    border-radius: 20px;
}


.web-dev-stat{
    background-color: #131313;
    margin-left: 10%;
    margin-top: 100px;
    margin-right: 10%;
    border-radius: 10px;
    display: flex;
    padding: 24px;
    gap: 20px;
    justify-content:space-around;
    box-sizing: border-box;
}

.web-dev-stat-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.web-stat-value{
    color: white;
    font-size: 32px;
    margin-top: 12px;
    font-weight: bold;
}

.web-stat-title{
    color: white;
    font-size: 14px;
    margin-top: 4px;
}

.web-dev-skills{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.web-skills-container{
    display: flex;
    margin-top: 70px;
    box-sizing:border-box;
    border-radius: 10px;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
}


.web-skills-content {
    display: flex;
    white-space: nowrap;
    gap: 50px;
    animation: scroll 25s linear infinite;
}

.web-skill-title{
    color: #787676;
    margin-top: 70px;

}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}


.web-skills-container::before,
.web-skills-container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    pointer-events: none;
    z-index: 2;
}

.web-skills-container::before {
    left: 0;
    background: linear-gradient(to right, #403F3F73, rgba(255, 255, 255, 0));
}

.web-skills-container::after {
    right: 0;
    background: linear-gradient(to left, #403F3F73, rgba(255, 255, 255, 0));
}

.web-skill-item{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

@media (min-width: 800px) and (max-width: 1920px){




    .search-container{
        width: 60%;
        top: 60px;
        height: 50px;
        position: absolute;
        background-color: white;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        display: flex;
        padding: 16px;
    }


    .left-search {
        width: 100%;
        height: 100%;
        background-color: #0d0d0d;
        border: none;
        opacity: 0.7;
        border-radius: 8px;
        color: white;
        box-sizing: border-box;
        padding-left: 16px;
        padding-right: 16px;
    }

    .left-search-container {
        flex: 1;
        color: white;
        position: relative;
        flex-direction: column;
    }

    .left-content{
        position: absolute;
        top: 50px;
        left: 0px;
        height: 150px;
        width:100%;
        background-color: red;
        display: none;

    }


    .middle-search-container{
        flex: 2;
        margin-right: 16px;
        margin-left: 16px;
        position: relative;
    }

    .middle-search{
        width: 100%;
        height: 100%;
        background-color: #0d0d0d;
        border: none;
        opacity: 0.7;
        border-radius: 8px;
        color: white;
        box-sizing: border-box;
        padding-left: 16px;
        padding-right: 16px;
    }

    .middle-content{
        position: absolute;
        top: 50px;
        left: 0px;
        height: 150px;
        width:100%;
        background-color: blue;
        display: none;
    }

    .achieve-text{
        color: white;
        font-size: 48px;
        font-family: Roboto, Arial;
        font-weight: bold;
        text-align: center;
        margin-top: 100px;
        margin-right: 10%;
        margin-left: 10%;
    }

    .web-description-space{
        margin-left: 10%;
        margin-right: 10%;
        align-items: center;
    }


}

/* Mobile View */
@media  (max-width: 800px){

    .search-container-overlay{
        position: absolute;
        top: 60px;
        width: 80%;
        align-items: stretch;
        background-color: white;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        display: flex;
        padding: 16px;
    }

    .left-search-content-overlay{
        position: absolute;
        top:66px;

    }

    .search-container{
        display: flex;
        position: absolute;
        background-color: white;
        flex-direction: column;
        row-gap: 8px;
        padding: 16px;
        top: 60px;
        width: 80%;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .left-search{
        background-color: #0d0d0d;
        border: none;
        opacity: 0.7;
        width: 100%;
        box-sizing: border-box;
        padding-left: 16px;
        padding-right: 16px;
        min-height: 50px;
        border-radius: 8px;
        color: white;
    }



    .left-search-container{
        position: relative;
    }

    .left-content{
        position: absolute;
        top: 50px;
        left: 0px;
        width: 100%;
        height: 50px;
        background-color: red;
        display: none;
    }

    .middle-search{
        background-color: #0d0d0d;
        border: none;
        opacity: 0.7;
        width: 100%;
        box-sizing: border-box;
        padding-left: 16px;
        padding-right: 16px;
        min-height: 50px;
        border-radius: 8px;
        color: white;
    }

    .middle-search-container{
        position: relative;
    }

    .middle-content{
        position: absolute;
        top: 50px;
        left: 0px;
        width: 100%;
        height: 50px;
        background-color: blue;
        display: none;
    }


    .achieve-text{
        color: white;
        font-size: 32px;
        margin-top: 50px;
        font-family: Roboto, Arial;
        font-weight: bold;
        text-align: center;
    }

    .web-description-space{
        margin-left: 8%;
        margin-right: 8%;
        align-items: center;
    }




}




