
.nav-text{
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: opacity 0.1s;
    text-decoration: none;
}

.left-search:active{
    border: none;
}

.middle-search:active{
    border: none;
}

.left-search::placeholder{
    color: white;
}
.middle-search::placeholder{
    color: white;
}


/*royalties Page*/
.pricing-title{
    color: white;
    margin: 0px;
}



.pricing-price{
    margin: 0px;
    color: white;
    display: flex;
}

.pricing-period{
    margin: 0px;
    display: flex;
    color: white;
    margin-bottom: 6px;
    margin-left: 3px;
}

.pricing-inclusion-title{
    color: white;
    margin: 0px;
    margin-top: 8px;
}

@media (min-width: 0px) and (max-width: 800px){


    .solution-text{
        color: white;
        font-weight: bold;
        font-size: 32px;
        flex: 1;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 0px;
    }

    .got-you{
        color: white;
        margin-top: 10px;
        max-width: 100%;
        text-align: center;
        font-size: 16px;
    }
    .pricing-description{
        color: white;
        margin: 0px;
        margin-top: 8px;
    }

}

@media (min-width: 800px) and (max-width: 1920px){

    .solution-text{
        color: white;
        font-weight: bold;
        font-size: 48px;
        flex: 1;
        margin-bottom: 0px;
    }

    .got-you{
        color: white;
        margin-top: 24px;
        max-width: 80%;
        font-size: 24px;
    }

    .pricing-description{
        color: white;
        margin: 0px;
        margin-top: 8px;
        overflow: hidden; /* Clips content if text exceeds 5 lines */
        line-height: 1.5; /* Adjust this to set the space between lines */
        height: calc(1.5em * 4); /* Force height to exactly 5 lines */
    }

}








